<section class="architecture">
    <h1 class="product-title">
        АРХИТЕКТУРНАЯ ПЛЕНКА<br>
        <span class="product-title--strong">SPECTROLL</span>
    </h1>
    <div class="product-features">
        <div class="product-feature--advantage">
            <h2 class="product-feature--advantage--certificate__title">
                <span class="product-feature--advantage__title-number">1</span>
                <span class="product-feature--advantage__title-text">
                    Качество архитектурной пленки SPECTROLL
                    подтверждено сертификатом соответствия
                </span>
            </h2>
            <div class="product-feature--advantage__pic-wrapper">
                <picture>
                    <source media="(min-width: 1920px)" srcset="img/features/uv-protection-1920.jpg">
                    <source media="(min-width: 769px)" srcset="img/features/certificate-1200.jpg">
                    <source media="(min-width: 321px)" srcset="img/features/certificate-768.jpg">
                    <source media="(min-width: 320px)" srcset="img/features/certificate-320.jpg">
                    <img class="product-feature--advantage__pic" src="img/features/certificate-1920.jpg" alt="">
                </picture>
            </div>
        </div>
        <div class="product-feature--advantage">
            <h2 class="product-feature--advantage__title">
                <span class="product-feature--advantage__title-number">2</span>
                <span class="product-feature--advantage__title-text">
                    Для Вашего удобства склады “Солтекс” расположены от Москвы до Владивостока
                </span>
            </h2>
            <div class="product-feature--advantage__pic-wrapper">
                <picture>
                    <source media="(min-width: 1920px)" srcset="img/features/export-1920.jpg">
                    <source media="(min-width: 769px)" srcset="img/features/export-1200.jpg">
                    <source media="(min-width: 321px)" srcset="img/features/export-768.jpg">
                    <source media="(min-width: 320px)" srcset="img/features/export-320.jpg">
                    <img class="product-feature--advantage__pic" src="img/features/export-1920.jpg" alt="">
                </picture>
                <h3 class="product-feature--advantage--export__label-title">
                    ДОСТАВКА В&nbsp;ТЕЧЕНИИ СУТОК<span class="product-feature--advantage--export__label-title-star">*</span>
                </h3>
            </div>
            <div class="product-feature--advantage--export__additional">* условия доставки в вашем регионе уточняйте у менеджера</div>
        </div>
        <div class="product-feature--message--start--architecture">
            <h2 class="product-feature--message--start__title--architecture">
                НАЧНИТЕ ИСПОЛЬЗОВАТЬ SPECTROLL УЖЕ&nbsp;СЕГОДНЯ
            </h2>
            <img class="product-feature--message--start__logo" src="img/features/logo-white.svg">
        </div>
    </div>
</section>