<section class="shockproof-wallpapers">
    <picture>
    <source media="(min-width: 1281px)" srcset="img/backgrounds/shockproof-wallpapers-1920.jpg">
    <source media="(min-width: 769px)" srcset="img/backgrounds/shockproof-wallpapers-1280.jpg">
    <source media="(min-width: 321px)" srcset="img/backgrounds/shockproof-wallpapers-768.jpg">
    <source media="(min-width: 320px)" srcset="img/backgrounds/shockproof-wallpapers-320.jpg">
    <img src="img/backgrounds/shockproof-wallpapers-1920.jpg" alt="">
    </picture>
    <h1 class="shockproof-wallpapers-title">
        <span class="shockproof-wallpapers-title-secondary">ПРОТИВОУДАРНАЯ</span>
        <span class="shockproof-wallpapers-title-primary">ПЛЕНКА</span>
    </h1>
</section>