<section class="tinting">
    <h1 class="product-title">
        ТОНИРОВОЧНАЯ ПЛЕНКА<br>
        <span class="product-title--strong">SPECTROLL</span>
    </h1>
    <div class="product-features">
        <div class="product-feature--advantage">
            <h2 class="product-feature--advantage__title">
                <span class="product-feature--advantage__title-number">1</span>
                <span class="product-feature--advantage__title-text">
                    Мы улучшили традиционную
                    формулу материалов и
                    достигли отражения солнечной энергии до 67%.
                    Защита от ультрафиолета 99%
                </span>
            </h2>
            <div class="product-feature--advantage__pic-wrapper">
                <picture>
                    <source media="(min-width: 1920px)" srcset="img/features/uv-protection-1920.jpg">
                    <source media="(min-width: 769px)" srcset="img/features/uv-protection-1200.jpg">
                    <source media="(min-width: 321px)" srcset="img/features/uv-protection-768.jpg">
                    <source media="(min-width: 320px)" srcset="img/features/uv-protection-320.jpg">
                    <img class="product-feature--advantage__pic" src="img/features/uv-protection-1920.jpg" alt="">
                </picture>
                <h3 class="product-feature--advantage--uv-protection__label-title">
                    НЕ ВЫГОРАЕТ НА СОЛНЦЕ
                </h3>
            </div>
        </div>
        <div class="product-feature--advantage">
            <h2 class="product-feature--advantage__title">
                <span class="product-feature--advantage__title-number">2</span>
                <span class="product-feature--advantage__title-text">
                    Защищает от бликов.<br>Не дает искажений
                </span>
            </h2>
            <div class="product-feature--advantage__pic-wrapper">
                <picture>
                    <source media="(min-width: 1920px)" srcset="img/features/practical-1920.jpg">
                    <source media="(min-width: 769px)" srcset="img/features/practical-1200.jpg">
                    <source media="(min-width: 768px)" srcset="img/features/practical-768.jpg">
                    <source media="(min-width: 321px)" srcset="img/features/practical-767.jpg">
                    <source media="(min-width: 320px)" srcset="img/features/practical-320.jpg">
                    <img class="product-feature--advantage__pic" src="img/features/practical-1920.jpg" alt="">
                </picture>
                <h3 class="product-feature--advantage--practical__label-title">
                    ЛОЖИТСЯ НА
                    НИТИ&nbsp;ОБОГРЕВА И
                    ШЕЛКОГРАФИЮ
                </h3>
            </div>
        </div>
        <div class="product-feature--advantage">
            <h2 class="product-feature--advantage__title">
                <span class="product-feature--advantage__title-number">3</span>
                <span class="product-feature--advantage__title-text">
                    Обладает высокой прочностью. Защищает от осколков при аварии
                </span>
            </h2>
            <div class="product-feature--advantage__pic-wrapper">
                <picture>
                    <source media="(min-width: 1920px)" srcset="img/features/durable-1920.jpg">
                    <source media="(min-width: 769px)" srcset="img/features/durable-1200.jpg">
                    <source media="(min-width: 321px)" srcset="img/features/durable-768.jpg">
                    <source media="(min-width: 320px)" srcset="img/features/durable-320.jpg">
                    <img class="product-feature--advantage__pic" src="img/features/durable-1920.jpg" alt="">
                </picture>
                <h3 class="product-feature--advantage--durable__label-title">
                    <span class="product-feature--advantage--durable__label-title--bigger">4М<br></span> ПРОТИВО-УДАРНЫЙ ЭФФЕКТ
                </h3>
            </div>
        </div>
        <div class="product-feature--message">
            <h2 class="product-feature--message--originality__title">
               ОРИГИНАЛЬНОСТЬ ПОДТВЕРЖДАЕТСЯ ЛОГОТИПОМ
            </h2>
            <picture>
                <source media="(min-width: 1680px)" srcset="img/features/originality-1920.jpg">
                <source media="(min-width: 769px)" srcset="img/features/originality-1200.jpg">
                <source media="(min-width: 321px)" srcset="img/features/originality-768.jpg">
                <source media="(min-width: 320px)" srcset="img/features/originality-320.jpg">
                <img class="product-feature--message--originality__pic" src="img/features/originality-1920.jpg" alt="">
            </picture>
        </div>
        <div class="product-feature--advantage">
            <h2 class="product-feature--advantage__title">
                <span class="product-feature--advantage__title-number">5</span>
                <span class="product-feature--advantage__title-text">
                    Для Вашего удобства склады “Солтекс” расположены от Москвы до Владивостока
                </span>
            </h2>
            <div class="product-feature--advantage__pic-wrapper">
                <picture>
                    <source media="(min-width: 1920px)" srcset="img/features/export-1920.jpg">
                    <source media="(min-width: 769px)" srcset="img/features/export-1200.jpg">
                    <source media="(min-width: 321px)" srcset="img/features/export-768.jpg">
                    <source media="(min-width: 320px)" srcset="img/features/export-320.jpg">
                    <img class="product-feature--advantage__pic" src="img/features/export-1920.jpg" alt="">
                </picture>
                <h3 class="product-feature--advantage--export__label-title">
                    ДОСТАВКА В&nbsp;ТЕЧЕНИИ СУТОК<span class="product-feature--advantage--export__label-title-star">*</span>
                </h3>
            </div>
            <div class="product-feature--advantage--export__additional">* условия доставки в вашем регионе уточняйте у менеджера</div>
        </div>
        <div class="product-feature--message--start">
            <h2 class="product-feature--message--start__title">
                НАЧНИТЕ ИСПОЛЬЗОВАТЬ SPECTROLL УЖЕ&nbsp;СЕГОДНЯ
            </h2>
            <picture>
                <source media="(min-width: 321px)" srcset="img/features/start-768.jpg">
                <source media="(min-width: 320px)" srcset="img/features/start-320.jpg">
                <img class="product-feature--message--start__pic" src="img/features/start-1920.png" alt="">
            </picture>
            <img class="product-feature--message--start__logo" src="img/features/logo-white.svg">
        </div>
    </div>
</section>